.list{
    color: white;
    width: 300px;
    background-color: rgb(202,156,24);
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;

}
.list p{
    padding: 10px;
    position: relative;
}
.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.faicons{
    margin: 0 5px;
    font-size: 15px;
}
.list p input{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 18px;
}
.list p input:focus{
    outline: none;
    
}